/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/******************************************************************************
 * MY CODE
 * Author: Manda Tran
 * Last Updated: 2019-12-24
 ******************************************************************************/

* {
    color: #efe2e0;
    font-family: Montserrat;
}

html {
  scroll-behavior: smooth;
}

body {
    background-color: #1a1a1a;
}

h1 {
    color: #85DCCB;
    text-align: center;
    line-height: 72px;
    font-family: Oswald;
    font-size: 48px;
}

p {
    font-family: Montserrat;
}

@media screen and (max-width: 600px) {
    h1 {
        line-height: 48px;
        font-size: 36px
    }
}


/******************************************************************************
 * Navigation Bar
 ******************************************************************************/
.menu {
    overflow: hidden;
    padding: 14px 16px 0px;
}

/* Styles each menu link */
.menu-right > a {
    float: right;
    display: block;
    color: #efe2e0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}

/* Styles my name/home link in the top menu bar */
.menu-right a.active {
    color: #E27D60;
}

.menu-left a:hover {
    color: #ff5d50;
    font-weight: bold;
}

.menu-left a {
    float: left;
    display: block;
    color: #E27D60;
    padding: 6px 16px;
    text-decoration: none;
    font-family: Galada;
    font-size: 32px;
}

.menu-right > a:hover {
    color: #ff5d50;
}


/******************************************************************************
 * Social Media Sticky Bar
 ******************************************************************************/

/* Fixes the icon bar to be on the left 50% from the top */
.social-icons {
    position: fixed;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* Style the icons */
.social-icons a {
    display: block;
    text-align: center;
    padding: 14px 30px 14px 14px;
    transition: all 0.3s ease;
    color: #efe2e0;
    font-size: 30px;
}

/* Do not display mobile contact page */
.mobile-contact {
    display: none;
    visibility: hidden;
}

/* Increase size of social icons when hovering */
.social-icons a:hover {
    font-size: 35px;
}

/* Changes social icons to red when hover */
.fa-envelope-square:hover {
    color: #ff5d50;
}

.fa-linkedin:hover {
    color: #ff5d50;
}

.fa-github-square:hover {
    color: #ff5d50;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .menu-left {
      width: 100%;
  }
  .menu-left a {
      float: none;
      text-align: center;
  }

  .menu-right {
      width: 100%;
      overflow: auto;
  }
  .menu-right a {
        float: left;
        padding: 0px;
        color: white;
        text-decoration: none;
        font-size: 16px;
        width: 25%; /* Four links of equal widths */
        text-align: center;
        padding-bottom: 12px;
  }

  .social-icons {
      display: none;
  }

  .mobile-contact {
      display: inline;
      visibility: visible;
  }
}


/******************************************************************************
 * Home Page
 ******************************************************************************/

body, html {
    height: 100%;
}

.home-wrapper {
    height: 92%;
}
.bg-image {
    /* The image used */
    background-image: url("img/home!.png");

    /* Full height */
    height: 92%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section {
    position: relative;
    width: 100%;
    height: 100%;
}

/* Link to scroll to Projects section */
.projects-link {
    height: 6%;
    text-align: center;
}

.projects-link a {
    text-decoration: none;
    font-size: 18px;
}

.projects-link a:hover {
    opacity: .5;
}

#scroll-down a span {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
    padding-bottom: 1%;
}

.Projects {
    height: 100%;
}

.My-Projects {
    height: 92%;
}

.Projects h1 {
    margin-top: 50px;
}

.Projects p {
    font-family: Galada;
    margin: 80px auto;
    text-align: center;
    font-size: 24px;
}

#scroll-up span {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    margin-bottom: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    box-sizing: border-box;
    padding-bottom: 1%;
}

@media screen and (max-width: 600px) {
    .bg-image {
        margin-top: -20px;
    }
}

/******************************************************************************
 * About Page
 ******************************************************************************/

.about-wrapper {
    padding: 20px 80px;
}

.profile-pic {
    float: left;
    max-width: 50%;
}
/*
.social-icons {
    position: fixed;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
*/

/* Responsive Profile Pic */
.profile-pic img {
    margin-left: 15%;
    width: 70%;
    height: auto;
}

/* Format about me text placement */
.about-text {
    float: left;
    max-width: 50%;
}

/* Style About text */
.about-text h1 {
    padding: 20px;
}

.about-text a {
    display: inline;
    color: #E27D60;
    text-decoration: none;
    font-weight: bold;
}
/*
.about-text a:link {
    color: #efe2e0;
    text-decoration: none;
}
*/

.about-text p {
    margin-left: 40px;
    margin-right: 15%;
    line-height: 2;
}


/* Responsive design */
@media screen and (max-width: 1070px) {
    .profile-pic {
        padding-top: 100px;
    }
}
    
@media screen and (max-width: 800px) {
    .profile-pic {
        float: none;
        max-width: 100%;
        padding-top: 50px;
    }

    .profile-pic img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        height: 300px;
        object-fit: cover;
    }

    .about-text {
        float: none;
        max-width: 100%;
    }

    .about-text p {
        margin-left: auto;
        margin-right: auto;
    }
}

    
/******************************************************************************
 * Portfolio Page
 ******************************************************************************/

/* Format art portfolio header */
.portfolio-header h2 {
    color: #85DCCB;
    text-align: center;
    line-height: 108px;
    font-family: Oswald;
    font-size: 72px;
}

.gallery-wrapper {
    margin: auto;
    width: 80%;
    padding-top: 30px;
}

.gallery-flexbox {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/*
.gallery-flexbox img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: auto;
    margin-bottom: 50px;
}
*/

.column {
    flex: 20%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 40%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 80%;
    max-width: 100%;
  }
}


/* Adds description when hover over image */
.art-container {
    position: relative;
    margin: auto;
}

.image {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.art-container:hover .image {
    opacity: 0.3;
}

.art-container:hover .middle {
    opacity: 1;
}


/******************************************************************************
 * Contact Page
 ******************************************************************************/

@media screen and (max-width: 600px) {

    .contact-text {
        padding-top: 30px;
        width: 85%;
        margin: auto;
    }

    .contact-text h1 {
        padding: 20px;
    }

    .contact-text a {
        float: none;
        display: block;
        text-decoration: none;
        line-height: 2;
    }

    .contact-text a:hover {
        color: #ff5d50;
    }
}
