/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/* MY CODE
 * Author: Manda Tran
 * Last Updated: 2019-09-22
 */

* {
    color: #EFE2BA;
    font-family: Montserrat;
}

body {
    background-color: #1a1a1a;
}

h1 {
    color: #EFE2BA;
    text-align: center;
    font-family: Oswald;
}

p {
    font-family: Montserrat;
}

.menu {
    overflow: hidden;
    padding: 14px 16px;
}

.menu > a {
    float: right;
    display: block;
    color: #EFE2BA;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}

.menu-left a {
    float: left;
    display: block;
    color: #E27D60;
    padding: 6px 16px;
    text-decoration: none;
    font-family: Galada;
    font-size: 32px;
}

.menu > a:hover {
    color: #ff5d50;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 4px;
}

.menu a.active {
    color: #E27D60;
}

/* Fix the icon bar to be on the left 50% from the top */
.social-icons {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* Style the icons */
.social-icons a {
    display: block;
    text-align: center;
    padding: 14px;
    transition: all 0.3s ease;
    color: #EFE2BA;
    font-size: 30px;
}

/* Increase size and turns red if hover over icon */
.social-icons a:hover {
    font-size: 35px;
    background-color: #ff5d50;
}
