/******************************************************************************
 * Discussion Page
 * source: https://codepen.io/hakimel/pen/BpKNPg
 ******************************************************************************/
body {
    width: 100vw;
    height: 100vh;
    overflow: auto;
  }
  
  
.discussion-nav {
    position: fixed;
    top: 5em;
    padding: 1em;
    width: 14em;
    line-height: 2;
}

.discussion-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.discussion-nav ul {
    padding-left: 2em;
}

.discussion-nav li a {
    display: inline-block;
    color: #aaa;
    text-decoration: none;
    transition: all 0.3s cubic-bezier(0.230, 1.000, 0.320, 1.000);
}

.discussion-nav li.visible>a {
    color: #111;
    transform: translate( 5px );
}

.toc-marker {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.toc-marker path {
    transition: all 0.3s ease;
}

.discussion-content {
    padding: 2em 2em 2em 15em;
    font-size: 16px;
    line-height: 1.6;
    max-width: 85%;
}

.discussion-content h1 {
    font-size: 144px;
    line-height: 180px;
}

.discussion-content p {
    line-height: 28px;
    font-size: 16px;
}

.links {
padding: 50px 0px;
}

.links h1 {
text-align: right;
}

.col {
float: left;
width: 33%;
padding: 10px;
transition: transform .2s;
}

.col:hover {
transform: scale(1.1);
background-color: #E6CDCA;
}

.row {
margin: 0 -5px;
}

.col p {
margin: 24px;
}

.col a {
text-decoration: none;
}

.col h4 {
margin: 24px;
font-weight: bold;
font-size: 24px;
}

.col h5 {
margin: 0 24px;
font-weight: lighter;
font-style: italic;
color: #555555;
}

.col h6 {
margin: 0 24px;
font-weight: lighter;
font-size: 18px;
}

#arrow {
font-size: 32px;
}

#arrow:hover {
font-weight: bold;
font-size: 42px;
}

/* Responsive Design */
@media screen and (max-width: 1500px) {
    .col {
        width: 50%;
    }
}
@media screen and (max-width: 1024px) {
    .col {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .discussion-nav {
        display: none;
    }
    .discussion-content h1 {
        font-size: 96px;
        line-height: 120px;
    }
    .discussion-content {
        padding: 3em;
        font-size: 14px;
        line-height: 1.4;
        max-width: 100%;
    }
}