/******************************************************************************
 * Process Page
 * source: https://codepen.io/hakimel/pen/BpKNPg
 ******************************************************************************/
body {
    width: 100vw;
    height: 100vh;
    overflow: auto;
  }
  
  
.process-nav {
    position: fixed;
    top: 5em;
    padding: 1em;
    width: 14em;
    line-height: 2;
}

.process-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.process-nav ul {
    padding-left: 2em;
}

.process-nav li a {
    display: inline-block;
    color: #aaa;
    text-decoration: none;
    transition: all 0.3s cubic-bezier(0.230, 1.000, 0.320, 1.000);
}

.process-nav li.visible>a {
    color: #111;
    transform: translate( 5px );
}

.toc-marker {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.toc-marker path {
    transition: all 0.3s ease;
}

.process-content {
    padding: 2em 2em 2em 15em;
    font-size: 16px;
    line-height: 1.6;
    max-width: 85%;
}

h1 {
    font-size: 96px;
    line-height: 140px;
}

h2 {
    font-size: 72px;
    font-family: 'Bebas Neue', cursive;
    line-height: 100px;
    color: #E5091488;
}

.process-content p {
    line-height: 28px;
    font-size: 16px;
    margin-bottom: 32px;
}

.cleaning-data img {
    width: 50%;
    padding: 18px;
    display: block;
    margin: auto;
}


/* Responsive Design */
@media screen and (max-width: 1500px) {
    .col {
        width: 50%;
    }
}
@media screen and (max-width: 1024px) {
    .col {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .process-nav {
        display: none;
    }
    .process-content h1 {
        font-size: 96px;
        line-height: 120px;
    }
    .process-content {
        padding: 3em;
        font-size: 14px;
        line-height: 1.4;
        max-width: 100%;
    }
}